.contentFlex {
	display: flex;
	gap: var(--spacing-lg);
	height: 100%;
}

.graphPanel {
	flex-grow: 1;
	width: 0;
	padding: var(--spacing-md);
}

.dataPanel {
	flex-shrink: 0;
	width: 450px;
}

.dataPanel > :first-child {
	flex-grow: 1;
	min-height: 0;
}
